{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px=5, py=5, mx-auto">
      <div class="position-relative">
        <h1 class="card text"><strong>Welcome to Ava's Flask Project</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card text-white bg-info mb-3">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/delnortelogo.jpg') }}" alt="Del Norte Logo" height="500">
                    <div class="card-body">
                    <h5 class="card-title"><center>Ava's Class Schedule</center></h5>
                    <p class="card-text">
                      <ol>
                        <table class="table table-dark">
                            <thead>
                              <tr>            
                                <th scope="col">Period</th>
                                <th scope="col">Class</th>
                                <th scope="col">Teacher</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>                                
                                <td>Spanish 6</td>
                                <td>Holly LeCakes-Jones</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>                                
                                <td>AP Calculus AB</td>
                                <td>Cherie Nydam</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>                        
                                <td>ASB</td>
                                <td>Jennifer Mitchell</td>
                            </tr>
                                <tr>
                                 <th scope="row">4</th>                                
                                <td>APCSP</td>
                                <td>John Mortensen</td>
                              </tr>
                              <tr>
                                <th scope="row">5</th>                             
                               <td>American Literature</td>
                               <td>Erin Persil</td>
                             </tr>
                            </tbody>
                          </table>
                         </ol>
                        </p>                    
                    </div>
                </div>
            </div>
                 <div class="col-4">
                      <div class="card text-white bg-secondary mb-3">
                           <img class="card-img-top" src="{{ url_for('static', filename='assets/kraftmacandcheese.jpg') }}" alt="Kraft Mac and Cheese" height="500">
                           <div class="card-body">
                           <h5 class="card-title-white"><center>Ava's Favortie Foods</center></h5>
                             <p class="card-text-white">
                               Ava Carlson loves Kraft mac and cheese <i>NOT</i> Annie's mac and cheese. 
                               If you want to get yourself some Kraft mac and cheese, click the link below! 
                            </p>
                           <a href="https://www.amazon.com/Kraft-Macaroni-Cheese-Dinner-Original/dp/B011W21U0I" class="btn btn-primary">Link to get Kraft mac and cheese</a>
                </div>
            </div>
        </div>
    </div>
   
           
{% endblock %}